@import "tailwindcss";

:root {
  
  --background: #ffffff;
  --foreground: #171717;
  --brand: #007AFF;
  --dark: #0f172a;
  --light: #EBF5FF;
  --text: #1F2937;
  --gray: #6B7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand);
  --color-brand-dark: var(--dark);
  --color-brand-light: var(--light);
  --color-brand-text: var(--text);
  --color-brand-gray: var(--gray);
  --font-sans: var(--font-general-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans);
}
